// optical

.nav-bar{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    li{
        width: 100%;
        text-align: center;
        border-left: 1px solid #DCDCDC;
        &:last-child{
            border-right:1px solid #DCDCDC;
        }
    }
    a{
        display: block;
        padding: 24px 0;
        color: #000;
        font-size: 32px;
        font-weight: 500;
        border-bottom: 8px solid transparent;
        &:hover{
            border-bottom: 8px solid $main-color;
        }
        &.active{
            border-bottom: 8px solid $main-color;
        }
    }
    @include pad{
        padding: 0;
        a{
            font-size: 24px;
            padding: 16px 0;
        }
    }
    @include mobile{
        a{
            font-size: 16px;
        }
    }
}
.nav-img{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    @include mobile{
        margin-bottom: 40px;
    }
}
.optical-nav-img-left{
    width: 50%;
    background-image: url(../images/product-header-1.png);
    height: 296px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include pad{
        background-image: url(../images/product-header-sm-1.png);
    }
    @include mobile{
        height: 136px;
    }
}

.optical-nav-img-right{
    width: 50%;
    background-image: url(../images/product-header-2.png);
    height: 296px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include pad{
        background-image: url(../images/product-header-sm-2.png);
    }
    @include mobile{
        height: 136px;
    }
}
.product-h1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
    span{
        font-size: 42px;
        font-weight: 500;
    }
    @include mobile{
        font-size: 24px;
        margin-bottom: 24px;
        span{
            font-size: 24px;
        }
    }
}
.optical-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -12px;
    li{
        width: 22.5%;
        margin: 0 12px 80px;
    }
    p{
        color: #000;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
    }
    span{
        color:$main-color;
        font-weight: 500;
    }
    ul{
        display: flex;
        li{
            width: 24px;
            margin: 0px 8px 0px 0px;
        }
    }
    @include pad{
        margin-bottom: 40px;
        li{
            width: 47%;
            margin: 0 12px 40px;
            &:nth-child(n+11){
                display: none;
            }
        }
    }
    @include mobile{
        li{
            width: 98%;
            margin: 0 auto 24px;
            &:nth-child(n+6){
                display: none;
            }
        }
    }
}
.color-block-1{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #5F3E2D;
}
.color-block-2{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #B75929;
}

.page{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    li{
        border: 1px solid #555555;
        border-right:none;
        font-size: 18px;
        &:last-child{
            border-right:1px solid #555555;
        }
    }
    a{
        display: block;
        color: #000;
        padding: 12px 16px;
        &.active{
            background-color: #000;
            color: #fff;
        }
        &:hover{
            opacity: 1;
            background-color: #000;
            color: #fff;
        }
    }
    @include mobile{
        margin-bottom: 64px;
        li{
            font-size: 16px;
        }
        a{
            padding: 8px 10px;
        }
    }
}


// sunglass
.sunglass-nav-img-left{
    width: 50%;
    background-image: url(../images/product-header-3.png);
    height: 296px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include pad{
        background-image: url(../images/product-header-sm-3.png);
    }
    @include mobile{
        height: 136px;
    }
}
.sunglass-nav-img-right{
    width: 50%;
    background-image: url(../images/product-header-4.png);
    height: 296px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include pad{
        background-image: url(../images/product-header-sm-4.png);
    }
    @include mobile{
        height: 136px;
    }
}

.sunglass-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    li{
        width: 30%;
        margin: 0 12px 80px;
    }
    p{
        color: #000;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
    }
    span{
        color:$main-color;
        font-weight: 500;
    }
    ul{
        display: flex;
        li{
            width: 24px;
            margin: 0px 8px 0px 0px;
        }
    }
    @include pad{
        margin-bottom: 40px;
        li{
            width: 47%;
            margin: 0 12px 40px;
        }
    }
    @include mobile{
        li{
            width: 98%;
            margin: 0 auto 24px;
            &:nth-child(n+6){
                display: none;
            }
        }
    }
}

