/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1.5;
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.bg-red {
  background-color: #AA0601;
  color: #FFF;
}

.bg-red a {
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header li {
  font-size: 20px;
  margin-right: 64px;
}

.header li:last-child {
  margin-right: 0px;
}

.logo {
  width: 80px;
}

.footer {
  padding: 48px 0 32px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu li {
  font-size: 16px;
  margin: 0 48px 36px 0;
}

.footer-menu li:last-child {
  margin-right: 0px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid #FFF;
}

.footer-contact {
  font-size: 36px;
}

.footer-contact span {
  font-size: 36px;
  margin-right: 22px;
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icon li {
  margin-right: 32px;
}

.footer-icon img {
  width: 48px;
  height: 48px;
}

.footer-policy {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-policy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-policy ul li:first-child {
  margin-right: 48px;
}

@media (max-width: 768px) {
  .container {
    max-width: 696px;
  }
  .footer-icon li {
    margin-right: 16px;
  }
  .footer-icon img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 348px;
  }
  .header ul {
    display: none;
  }
  .footer-menu {
    display: none;
  }
  .footer-contact {
    font-size: 16px;
  }
  .footer-contact span {
    font-size: 18px;
    margin-right: 10px;
  }
  .footer-icon li {
    margin-right: 8px;
  }
  .footer-icon img {
    width: 24px;
    height: 24px;
  }
  .footer-info {
    padding-bottom: 24px;
  }
  .footer-policy {
    padding-top: 16px;
    display: block;
  }
  .footer-policy p {
    margin-bottom: 8px;
  }
  .footer-policy ul {
    display: block;
  }
  .footer-policy ul li:first-child {
    margin-bottom: 8px;
  }
}
/*# sourceMappingURL=all.css.map */